* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);

}

.signboard {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 597.1657px;
    height: 445.9845px;
    border-radius: 15px;
    margin: 173.8584px auto 50px auto;
}


/*CSS Left Section*/

.left-section {
    display: flex;
    width:298.5829px;
    background-image: url(images/image-product-desktop.jpg);
    background-color: lightgray;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}





/*CSS Right Section*/

.right-section {
    display: flex;
    flex-direction: column;
    width:298.5829px;
}





/*Titles*/

h1 {
    font-family: 'Fraunces';
    font-weight: 700;
    margin-top: 22.6772px;
    margin-left: 26.4567px;
    line-height: 32px;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 26.4567px;
    margin-top: 30.2362px;
    color: hsl(228, 12%, 48%);
    letter-spacing: .2rem;
}


.right-section p {
    margin-top: 24px;
    margin-left: 26.4567px;
    margin-right: 26.4567px;
    line-height: 24px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}






/*Prices*/

.prices {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-bottom: 24px;
    margin-left: 26.4567px;
    align-items: center;
}

h3 {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}

h4{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    text-decoration:line-through;
    margin-left: 22.6772px;
}





/*CSS Add*/


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 46px;
    width: 240px;
    background-color: hsl(158, 36%, 37%);
    border: solid 0px;
    border-radius: 10px;
}

.button:hover {
    background-color: hsl(212, 21%, 14%);
}

.button p {
    margin: 0;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
}

.button img {
    padding-right: 7px;
}





/*CSS Footer*/

.attribution { 
    font-size: 14px; text-align: center;
}

.attribution c,a {
    text-decoration: none; 
}

.attribution c {
    font-size: 16px; 
    color: rgb(255, 120, 0);
    font-family: Monotype Corsiva;
}






/*CSS Responsive design*/

@media only screen and (max-width: 767px) {

    .signboard {
        flex-direction: column;
        width: 340.1577px;
        height: 612.2839px;
        border-radius: 15px;
        margin: 26.4567px auto 50px auto;
    }

    .left-section {
        width: 340.1577px;
        height: 238.1104px;
        background-image: url(images/image-product-mobile.jpg);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
        
    .right-section {
        width: 340.1577px;
        height: 366px;
    }

    h2 {
        margin-top: 26.4567px;
    }

    h1 {
        margin-top: 15.1181px;
    }

    .right-section p {
        margin-top: 17px;
        margin-right: 26.4567px;
        font-size: 13px;
    }

    .prices {
        margin-top: 40px;
        margin-bottom: 18px;
    }

    .button p {
        margin: 0;
    }
}